<div class="jumbotron">
<h1>Number of Products in Database:</h1>
<tbody>
<span class="values">
<%= @products %>
</span>
<div class="buttons-group">
<% @names.each do |item| %>
  <br>
  <p><a class="btn btn-primary btn-lg" href="http://localhost:3000/categories/<%= item.id %>" role="button"><%= item.name%></a></p>
  <% end %>
  </div>
</tbody>
</tbody>
</div>
<div class="jumbotron">
<tbody>
<h1>Number of different Categories in Database:</h1>
<span class="values">
<%= @categories %>
</span>
<div class="buttons-group"
<p><a class="btn btn-primary btn-lg" href="http://localhost:3000/admin/products" role="button">Products</a></p>
</div>
</tbody>
</div>